@model MvcCoreTutorial.Models.EmployeeViewModel
@{
}

<div class="mt-2" style="width:50%">
    <div class="row">
        <h2>Employees</h2>
        <form asp-action="Employees">
            <div class="row">
                <div class="col-md-8">
                    <input name="term" class="form-control" placeholder="Search by name" />
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-info">Search</button>
                </div>
            </div>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <a href="/Employee/Employees?orderBy=@Model.NameSortOrder">Name</a>
                    </th>
                    <th>
                        <a href="/Employee/Employees?orderBy=@Model.EmailSortOrder">Email</a>
                    </th>
                </tr>

                @foreach (var emp in Model.Employees)
                {
                    <tr>
                        <td>
                            @emp.Name
                        </td>
                        <td>@emp.Email</td>
                    </tr>
                }
            </thead>
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if (Model.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="/Employee/Employees?term=@Model.Term&orderBy=@Model.OrderBy&currentPage=@(Model.CurrentPage-1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            }
            @for(int i=1;i<=Model.TotalPages;i++){
                if (i == Model.CurrentPage)
                {
                    <li class="page-item"><a class="page-link active" href="/Employee/Employees?term=@Model.Term&orderBy=@Model.OrderBy&currentPage=@i"> @i</a></li>
                }
                else{
                  <li class="page-item"><a class="page-link" href="/Employee/Employees?term=@Model.Term&orderBy=@Model.OrderBy&currentPage=@i"> @i</a></li>
                }
            }
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="/Employee/Employees?term=@Model.Term&orderBy=@Model.OrderBy&currentPage=@(Model.CurrentPage+1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            }
        </ul>
    </nav>
</div>

